doctype html
html
  head
    title #{ title } - Bookie
    link(rel="stylesheet", href="/public/dist/App.bundle.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
  body
    block nav
      header
        nav.main-nav
          ul
            li
              a(href="/") #{process.env.SITE_NAME}
            li
              a(href="/Top") Top
            li
              a(href="/Review/Add") Add Review
            li
              a(href="#") Search
            if user
              li 
                a(href='#')= user.name
              li
                a(href='/Logout') Logout
            else 
              li
                a(href="/Register") Register
              li
                a(href="/Login") LogIn
            
    block messages
      if locals.flashes
        - const categories = Object.keys(locals.flashes)
        each category in categories
          each message in flashes[category]
            .flash(class=`flash--${category}`)
              p.flash__text!= message
              button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    main
      block content
      
    
    block scripts
      script(src="/public/dist/App.bundle.js", charset="utf-8")
