mixin pagingButtons(page=1, totalPages, query="")
  section.section.center 
    - isPrev = page > 1
    - isNext = page < totalPages
    a(href=`?page=${Number(page) - 1}&${query}` class=`btn btn-main ${!isPrev ? "disabled" : ""}` aria-disabled=!isPrev) Prev
    |
    a(href=`?page=${Number(page) + 1}&${query}` class=`btn btn-acc ${!isNext ? "disabled" : ""}` aria-disabled=!isNext) Next
