mixin reviewCard(review = {})
  article.review-card
    header
      a(href=`/review/${review.slug}`)
        h5= review.bookName
      .review-meta
        h6 By: #{review.author.name}
        .review-meta-group
          time #{h.moment(review.created).fromNow()}
          .review-stars
            each star in Array(review.rating)
              = `★`
    p= review.content.split(' ').slice(0 , 25).join(' ')
